# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, submit the notebook (.ipynb file) to corresponding Intern through Microsoft Teams</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Do not change the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# User Input

In [ ]:
a = 21
print(a)

21

In [ ]:
a = input('Enter a value: ') # always returns string
print('The given value is '+ a)
print(type(a))

Enter a value: 566
The given value is 566
<class 'str'>

In [ ]:
a = int(input('Enter a number: ')) # returns string but converted to int
print('The given value is '+ str(a+11))
print(type(a))

Enter a number: 12
The given value is 23
<class 'int'>

In [ ]:
while True:
  a = input('Enter your Birth Year:')
  if a.isdigit():
    print('You are ' + str(2022-int(a)) + ' years old')
    print(2022-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year:nine
WRONG INPUT
Enter your Birth Year:199p
WRONG INPUT
Enter your Birth Year:2007
You are 15 years old
15

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [ ]:
# indent
i = 2
if i < 5: # () not required, {} not required
  print('okay')
  print('fine')
else:
  print('bad')
  print('not okay') # will be executed in each run

okay
fine

In [ ]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: -2
Negative changed to zero

<b>Exercise 1:</b> Take a number (0-100) from user and use if statement to print corresponding grade.

In [2]:
x = int(input("Enter number you've obtained : "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x >= 90:
    print('Grade : A+')
elif x >= 85:
    print('Grade : A')
elif x >= 80:
    print('Grade : B+')
elif x >= 75:
    print('Grade : B')
elif x >= 70:
    print('Grade : C+')
else:
    print('Grade : Fail')

Enter number you've obtained : 83
Grade : B+

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [5]:
# Measure some strings:
words = ['cat', 'window', 'dhaka', 'jack']
for i in words:
    print(i, len(i))

cat 3
window 6
dhaka 5
jack 4

In [6]:
numbers = [1, 56, 78, 8,7]

for i in numbers:
    print(i+10)

11
66
88
18
17

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
# repeated for 0 to 4
for i in range(5):
    print(i)

0
1
2
3
4

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [7]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [8]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [9]:
list(range(10, 2, -1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [10]:
list(range(-10, -100, -30))

[-10, -40, -70]

In [11]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 56
2 78
3 8
4 7

In [12]:
for i in range(2,100,5):
    print(i,end=',')

2,7,12,17,22,27,32,37,42,47,52,57,62,67,72,77,82,87,92,97,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using for and range.

In [14]:
for i in range(0,101,2):
    print(i,end=',')

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [ ]:
country = "bangladesh"
for c in country: 
    print(c,end=',')

b,a,n,g,l,a,d,e,s,h,

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [15]:
def operate(a, b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

In [16]:
operate(91,5)

91 + 5 = 96
91 - 5 = 86
91 x 5 = 455
91 / 5 = 18.2

In [17]:
operate(5,2)

5 + 2 = 7
5 - 2 = 3
5 x 2 = 10
5 / 2 = 2.5

In [18]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
        #print()

In [ ]:
# Now call the function we just defined:
fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [19]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [20]:
y = addnumbers('8aaaa', '9') # use or call method
print(y)

8aaaa9

In [21]:
addnumbers([33,77], [66])

[33, 77, 66]

In [22]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [23]:
addValues([10,20,15,8])

53

In [24]:
addValues([ 11])

11

In [25]:
v = [5, 4,12, 7]
addValues(v)

28

In [26]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [27]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}x{}={}".format(n,i,n*i))

In [ ]:
multiTable(5)

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [28]:
multiTable(15)

15x1=15
15x2=30
15x3=45
15x4=60
15x5=75
15x6=90
15x7=105
15x8=120
15x9=135
15x10=150

<b>Exercise 3:</b> Define a method to add two lists and returns another list
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [30]:
def AddList(list1, list2):
    list3=[];
    for i in range(len(list1)):
        list3.append((list1[i] + list2[i]));

    return list3;

list1=[10,20,30,40];
list2=[50,60,70,80];
print(AddList(list1,list2))

[60, 80, 100, 120]

<b> Exercise 4:</b> Write a method to print first name and last name from full name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [36]:
def FullName(name):
   print(" FullName : "+ name)
   fname = name.split()
   if(len(fname)==1):
       print("First Name : "+fname[0]);
   else:
       print("First Name : "+fname[0]);
       print("Last Name : "+fname[-1]);


FullName("Anik Sen")

 FullName : Anik Sen
First Name : Anik
Last Name : Sen

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [40]:
table = {'Anik': 1100, 'Alok': 2200, 'Anushree': 3300}
for name, code in table.items():
   print(f'{name:10} -> {code:10d}')

Anik       ->       1100
Alok       ->       2200
Anushree   ->       3300

In [44]:
sports = 'cricket'
print(f'Watch {sports}.')
print(f'Watch {sports!r}.')

Watch cricket.
Watch 'cricket'.