# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, submit the notebook (.pynb file) </p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Do not change the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# Number

In [ ]:
# basic numeric operations
34 - 20

14

In [ ]:
# classic division returns a float
23/7

3.2857142857142856

In [ ]:
# floor division discards the fractional part
23 // 7

3

In [ ]:
# assigin value to variable for later use
a = 1299 / 22
print(a)

59.04545454545455

In [ ]:
# use the variable a for further operations
b = a*9
print(b)

531.4090909090909

In [ ]:
2 ** 10

1024

<b>Exercise 1:</b> Assign values to some variables and perform different operations. Also print the results.

In [ ]:
# code here
ada=7
bda=3
dda=ada*bda
print(dda)

21

# Import Module
<p style="text-align: justify"> Python code in one module gains access to the code in another module by the process of importing it. The import statement is the most common way of invoking the import machinery.</p>

<p style="text-align: justify">Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs.</p>

<b> Example:</b> Python has a built-in module that you can use for mathematical tasks. The math module has a set of methods and constants. The detail documentation can be found [here](https://docs.python.org/3/library/math.html).

In [ ]:
# importing the math module
import math
# accessing the constant π from math
math.pi

3.141592653589793

In [ ]:
# using the method sqrt from math
math.sqrt(49)

7.0

<b>Remember:</b> A cell always outputs the value of last variable. If you want to show other values use print. See the below cell for an example.

In [ ]:
print(1+2)
print(a*4)
print(a/b)

3
236.1818181818182
0.11111111111111112

<b>Exercise 2:</b> Import a module of your choice and show some operations.

In [ ]:
# code here
import cmath
cmath.sqrt(81)

(9+0j)

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

In [ ]:
a=10.5

In [ ]:
# Checking the type of an object
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [ ]:
c = 123
print(type(c))

<class 'int'>

In [ ]:
d = '123'
print(type(d))

<class 'str'>

In [ ]:
c = 45.5
print(type(c))

<class 'float'>

In [ ]:
a = 7
d = 99+a
print(type(d))

<class 'int'>

# String

In [ ]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [ ]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [ ]:
print(r'C:\some\name\name')

C:\some\name\*name

In [ ]:
# assign value to a variable. The value can be qouted using '' or ""
s = 'Bangladesh'

In [ ]:
# index
s[3]

'g'

In [ ]:
# negative index
s[-1]

'h'

When to use ' ' or " " ?

In [ ]:
name = 'asif "rahman'
print(name)

asif "rahman

In [ ]:
name = "asif 'rahman"
print(name)

asif 'rahman

string operations with * and +

In [ ]:
'asif 001 ' * 8

'asif 001 asif 001 asif 001 asif 001 asif 001 asif 001 asif 001 asif 001 '

In [ ]:
name * 3

"asif 'rahmanasif 'rahmanasif 'rahman"

In [ ]:
'asif ' + 'rahman'

'asif rahman'

In [ ]:
name + ' hasan'

"asif 'rahman hasan"

In [ ]:
# slicing
name = 'Ashraf Uddin'
print(name[4:8])
print(name[4:])
print(name[:4])
print(name[-3:])
print(name[1:8:2])
print(name[-1: :-1])

af U
af Uddin
Ashr
din
srfU
niddU farhsA

In [ ]:
name[-8:-2]

'af Udd'

In [ ]:
#dir(name)

Some examples of string methods

In [ ]:
name = 'Afsar Mahmud sayed'
sub = 'M'
name.count(sub)

1

In [ ]:
print(name.split(' '))

['Afsar', 'Mahmud', 'sayed']

In [ ]:
name.islower()

False

In [ ]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [ ]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.split(' ')

['I', 'am', 'right\nHe', 'is', 'fine\nThis', 'it', 'okay']

In [ ]:
separator = '??'
mystrings = ['Himel', 'Liton', 'Hasan', 'Fahim']
separator.join(mystrings)

'Himel??Liton??Hasan??Fahim'

In [ ]:
#help(mystring.count)

In [ ]:
len(name)

18

In [ ]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
help(name.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

<b>Exercise 3:</b> Demonstrate some string operations. Also, show uses of some string methods.

In [ ]:
# Code here
name.upper()

'AFSAR MAHMUD SAYED'

# List
<p style="text-align: justify">Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.</p>

In [1]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [2]:
data = [21, 'Manager', ['Manager', 89000,699] ,4.50, 'Dhaka']
data

[21, 'Manager', ['Manager', 89000, 699], 4.5, 'Dhaka']

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [3]:
data[-3][0]

'Manager'

In [4]:
data[-1]

'Dhaka'

In [5]:
data[0:3]

[21, 'Manager', ['Manager', 89000, 699]]

In [6]:
data[1]

'Manager'

In [7]:
data[2][0]

'Manager'

In [8]:
len(data[2])

3

In [9]:
data[-1]

'Dhaka'

In [10]:
data

[21, 'Manager', ['Manager', 89000, 699], 4.5, 'Dhaka']

Some list methods

In [22]:
data.append(100)
print(data)

[21, ['Manager', 89000, 699], 'Account', 4.5, 'Dhaka', 100]

In [12]:
help(data.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [18]:
data.insert(2,"Account")

In [23]:
print(data)

[21, ['Manager', 89000, 699], 'Account', 4.5, 'Dhaka', 100]

In [24]:
data.remove(100)
print(data)

[21, ['Manager', 89000, 699], 'Account', 4.5, 'Dhaka']

In [26]:
data.pop(1)
print(data)

[21, 4.5, 'Dhaka']

In [15]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
#help(data.insert)

Lists also support operations like concatenation

In [17]:
squares + data

[1, 4, 9, 16, 25, 21, ['Manager', 89000, 699], 4.5, 'Dhaka']

<b> Exercise 4:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [33]:
newdata=['anik', 22, 'cse', '8th', 3.93]
print(newdata)

['anik', 22, 'cse', '8th', 3.93]

In [34]:
newdata.append('aiub')
print(newdata)

['anik', 22, 'cse', '8th', 3.93, 'aiub']

In [35]:
newdata.pop()
print(newdata)

['anik', 22, 'cse', '8th', 3.93]

<b> Exercise 5:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)</p>

In [37]:
newdata.append('aiub')
print(newdata)
newdata.append('Major')
print(newdata)
newdata.append('SwE')
print(newdata)

['anik', 22, 'cse', '8th', 3.93, 'aiub', 'aiub']
['anik', 22, 'cse', '8th', 3.93, 'aiub', 'aiub', 'Major']
['anik', 22, 'cse', '8th', 3.93, 'aiub', 'aiub', 'Major', 'SwE']

In [38]:
newdata.pop(0)
print(newdata)

[22, 'cse', '8th', 3.93, 'aiub', 'aiub', 'Major', 'SwE']

In [39]:
newdata.pop(0)
print(newdata)

['cse', '8th', 3.93, 'aiub', 'aiub', 'Major', 'SwE']

In [40]:
newdata.pop(0)
print(newdata)

['8th', 3.93, 'aiub', 'aiub', 'Major', 'SwE']

In [41]:

print(newdata)

['8th', 3.93, 'aiub', 'aiub', 'Major', 'SwE']

# Dictionary
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [42]:
tel = {'jack': 4098, 'sape': 4139}

In [43]:
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [44]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [45]:
person['Rating']

4.5

In [46]:
person = {'Age':22,'Name':['Anik','Sen'], 'Salary':50000, 'Rating':5.00}

In [48]:
person['Rating']

5.0

In [47]:
len(person)

4

In [49]:
person.keys()

dict_keys(['Age', 'Name', 'Salary', 'Rating'])

In [51]:
#person.has_key('Name')
'Name' in person.keys()

True

In [52]:
'niaz' in person['Name']

False

In [53]:
'anik' in person['Name']

False

In [54]:
'Anik' in person['Name']

True

In [56]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

<b> Exercise 6:</b> Define a dictionary to store the details of persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [60]:
person = {'Name':['Anik','Sen'],'Age':22, 'Depertment': 'CSE', 'CG':3.93, 'Semester':'8th'}
print(person)

{'Name': ['Anik', 'Sen'], 'Age': 22, 'Depertment': 'CSE', 'CG': 3.93, 'Semester': '8th'}

In [58]:
person['Name']

['Anik', 'Sen']

In [61]:
len(person)

5

In [62]:
person.keys()

dict_keys(['Name', 'Age', 'Depertment', 'CG', 'Semester'])

In [63]:
person.values()

dict_values([['Anik', 'Sen'], 22, 'CSE', 3.93, '8th'])

# Tuples and Sets
<b>Exercise 7: (Optional)</b> Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [69]:
t = 100, 200, 'Anik'
t

(100, 200, 'Anik')

In [70]:
t[0]

100

In [71]:
u = t, (1, 2, 3, 4, 5)
u

((100, 200, 'Anik'), (1, 2, 3, 4, 5))

In [64]:
setA={100,200,300,400,"Anik","Sen", 3.93}
print(setA)

{3.93, 100, 200, 'Anik', 300, 400, 'Sen'}

In [65]:
setB={300,400,500,600,"Anushree","Sen","4.00"}
print(setA|setB)

{3.93, 100, 200, 'Anushree', '4.00', 'Anik', 300, 400, 500, 600, 'Sen'}

In [66]:
print(setA&setB)

{400, 'Sen', 300}